@import url(http://fonts.googleapis.com/css?family=Raleway);

/* CSS RESET */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
div{margin:0;padding:0;background-color:transparent;}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
/*ul,li{list-style:none;margin:0;padding:0;}*/
strong{font-weight:bold;}
em{font-style:italic;}

/* END CSS RESET */

body {
  background: url('../img/dark_wood.png') repeat;
  font-family: 'Raleway';
  color: white;
}

h1 {
  text-align: center;
  font-size: 6em;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: white !important;
  text-decoration: none;
}

ol.log {
  color: black;
  font-family: monospace;
  margin-left: 30px;
}

.meta {
  text-align: center;
  margin-top: 30px;
}

.container {
  height: 100%;
  background-color: rgba(100, 100, 100, 0.45);
}

.board {
  width: 400px;
  margin: auto;
}

.row {
  height: 50px;
  width: 400px;
}

.square {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.row {
  background-color: #666;
}

.row .square:nth-child(2n) {
  background-color: #333;
}

.row:nth-child(2n) {
  background-color: #333;
}

.row:nth-child(2n) .square:nth-child(2n) {
  background-color: #666;
}

.white-pawn {
  background: url('../img/pieces.png') 0 0;
}

.white-bishop {
  background: url('../img/pieces.png') -50px 0;
}

.white-knight {
  background: url('../img/pieces.png') -100px 0;
}

.white-rook {
  background: url('../img/pieces.png') -150px 0;
}

.white-queen {
  background: url('../img/pieces.png') -200px 0;
}

.white-king {
  background: url('../img/pieces.png') -250px 0;
}

.black-pawn {
  background: url('../img/pieces.png') 0 50px;
}

.black-bishop {
  background: url('../img/pieces.png') -50px 50px;
}

.black-knight {
  background: url('../img/pieces.png') -100px 50px;
}

.black-rook {
  background: url('../img/pieces.png') -150px 50px;
}

.black-queen {
  background: url('../img/pieces.png') -200px 50px;
}

.black-king {
  background: url('../img/pieces.png') -250px 50px;
}

.can-move {
  cursor: pointer;
  /*background-color: blue !important;*/
}

.possible-move {
  background-color: red !important;
  cursor: pointer;
}

.possible-capture {
  background-color: blue !important;
  cursor: pointer;
}

/*.black-guarding {
  background-color: green !important;
}

.white-guarding {
  background-color: purple !important;
}*/