<div class="overlay" id="opts">
  <div class="modal">
    <h3>Options</h3>
    <p>
      <input type="checkbox" id="hoverGuard" name="hoverGuard"> <label for="hoverGuard">Highlight guards on hover</label><br>
      <input type="checkbox" id="blackGuard" name="blackGuard"> <label for="blackGuard">Highlight all guards (Black)</label><br>
      <input type="checkbox" id="whiteGuard" name="whiteGuard"> <label for="whiteGuard">Highlight all guards (White)</label><br>
      <input type="checkbox" id="canMove" name="canMove"> <label for="canMove">Highlight moveable pieces</label><br>
      <input type="checkbox" id="playWithFairies" name="playWithFairies"> <label for="playWithFairies">Play with <a href="http://en.wikipedia.org/wiki/Fairy_chess_piece" target="_blank">fairies</a> (on pawn promotion)</label>
    </p>
  </div>
</div>

<div class="overlay" id="log">
  <div class="modal">
    <ol class="log"></ol>
  </div>
</div>

<div class="container">
  <h1> <a href="/">chs.xyz</a> </h1>
  <p class="tagline">Free Multiplayer Chess In Your Browser</p>

  <h2 class="move"></h2>

  <h4 class="connection"></h4>

  <section class="game">
    <section class="chess"></section>
    <section class="chat">
      <div class="chat-log">
        <ul>
          <li><form><input type="text" id="chatMsg" maxlength="60"><a class="send clickable">send</a></form></li>
        </ul>
      </div>
    </section>
  </section>

  <div class="meta">
    <a href="https://github.com/joahg/chs.xyz" target="_blank">{ src }</a> | <a href="http://www.joahg.com/" target="_blank">{ author }</a> | <a data-overlay-trigger="log" class="clickable">{ game log }</a> | <a data-overlay-trigger="opts" class="clickable">{ game options }</a> | <a id="hideChat" class="clickable">{ hide chat }</a><a id="showChat" class="clickable">{ show chat }</a>
  </div> 
</div>

<%= javascript_include_tag "application" %>